@model List<And.Eticaret.Core.Model.Entity.Product>
@{
    ViewBag.Title = "Index";
    var category = (And.Eticaret.Core.Model.Entity.Category)ViewBag.category;
}

<h2>E-Ticaret Sayfaya Hoşgeldiniz</h2>
<br />
<h3>@category.Name Kategorisi</h3>
@{
    foreach (var item in Model)
    {
        <div class="productBox">

            <p class="title">@item.Name</p>
            <img src="@item.ImageUrl" />
            <p>
                @item.Brand
            </p>
            <p>
                @item.Price.ToString("##,## ₺")
            </p>
            <p>
                @item.Description
            </p>
            <a href="/urun/@item.Name.Replace(" ","-")/@item.ID" class="btn btn-success">İncele</a>
            <a href="#" class="btn btn-default"><i class="fas fa-shopping-basket"></i>Sepete Ekle</a>
        </div>
    }
}
<div class="row"></div>
<style>
    .productBox {
        width: 200px;
        float: left;
        margin: 10px;
        border: 2px solid #898484;
        padding: 10px;
    }

        .productBox img {
            width: 100%;
        }

    .p .title {
        text-align: center;
        font-weight: bold;
    }

    .productBox p {
        text-align: center;
    }
</style>
